// Foreground is colder than background
@tile-color: hsv(295, 90%, 40%);
@tile-color-hover: hsv(292, 90%, 50%);
@background-color: hsv(298, 100%, 12%);
@infobox-color: darken(spin(@tile-color, 1), 10%);

@text-color: hsv(115, 90%, 100%);

* {
	font-family: Verdana, Geneva, sans-serif;
}

body {
	background-color: @background-color;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

header {
	height: 100px;
	background-color: @infobox-color;
	clip-path: polygon(50px 0%, 250px 0%, 100% 50%, 250px 100%, 50px 100%, 0% 50%);
	text-align: center;
	line-height: 100px;

	font-size: 48px;
	font-weight: bold;
	color: @text-color;
}

.tile {
	position: absolute;
	display: inline-block;
	background-color: @tile-color;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	transition: 0.3s ease;
	text-align: center;
	line-height: 200px;

	font-size: 16px;
	color: @text-color;

	&:hover {
		background-color: @tile-color-hover;
		transform: scale(1.1, 1.1) rotate(-4deg);
		transform-origin: 50% 50%;
		z-index: 1;
	}
}
